In [10]:
import json
import pandas as pd
import pprint

In [19]:
# Load the JSON file
with open('samples.json') as f:
    data = json.load(f)

# Check the number of data points
num_data_points = len(data)
print(f'The number of data points in the JSON file is: {num_data_points}')

The number of data points in the JSON file is: 3

In [18]:
idot=pd.DataFrame(data['samples'][0])
idot

,id,otu_ids,sample_values,otu_labels
0,940,1167,163,Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...
1,940,2859,126,Bacteria;Firmicutes;Clostridia;Clostridiales;I...
2,940,482,113,Bacteria
3,940,2264,78,Bacteria;Firmicutes;Clostridia;Clostridiales;I...
4,940,41,71,Bacteria
...,...,...,...,...
75,940,340,2,Bacteria
76,940,2110,2,Bacteria;Firmicutes;Clostridia;Clostridiales
77,940,2188,2,Bacteria;Firmicutes;Clostridia;Clostridiales;I...
78,940,357,2,Bacteria
79,940,342,2,Bacteria

In [17]:
idot.map()

NameError: name 'idot' is not defined

In [4]:
sothingss= pd.DataFrame(data['samples'])

In [21]:
data.keys()

dict_keys(['names', 'metadata', 'samples'])

In [5]:
sothingss

,id,otu_ids,sample_values,otu_labels
0,940,"[1167, 2859, 482, 2264, 41, 1189, 352, 189, 23...","[163, 126, 113, 78, 71, 51, 50, 47, 40, 40, 37...",[Bacteria;Bacteroidetes;Bacteroidia;Bacteroida...
1,941,"[2722, 944, 2419, 2539, 3450, 1795, 2389, 1314...","[194, 178, 162, 92, 84, 40, 37, 28, 27, 24, 21...",[Bacteria;Firmicutes;Clostridia;Clostridiales;...
2,943,[1795],[2],[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...
3,944,"[922, 3555, 943, 1013, 1795, 944, 3368, 923, 1...","[278, 33, 19, 18, 11, 8, 7, 5, 5, 5, 4, 4, 4, ...",[Bacteria;Actinobacteria;Actinobacteria;Actino...
4,945,"[944, 1795, 922, 2419, 2859, 943, 2722, 1167, ...","[274, 141, 129, 110, 40, 37, 35, 32, 26, 20, 1...",[Bacteria;Actinobacteria;Actinobacteria;Actino...
...,...,...,...,...
148,1574,"[482, 909, 2419, 944, 1795, 1167, 2859, 922, 2...","[29, 18, 16, 15, 14, 14, 14, 13, 13, 9, 7, 5, ...","[Bacteria, Bacteria;Actinobacteria;Actinobacte..."
149,1576,"[1929, 1770, 1926, 151, 1016, 3064, 477, 3184,...","[121, 83, 10, 9, 9, 8, 7, 6, 6, 5, 5, 4, 2, 2,...",[Bacteria;Firmicutes;Bacilli;Lactobacillales;S...
150,1577,"[922, 1795, 151, 3184, 1770, 1929, 3134, 1399,...","[152, 130, 10, 9, 6, 6, 5, 4, 4, 3, 3, 3, 3, 3...",[Bacteria;Actinobacteria;Actinobacteria;Actino...
151,1581,"[1795, 3312, 1399, 3134, 3288, 3120, 151, 954,...","[176, 57, 10, 10, 9, 8, 6, 6, 6, 5, 5, 5, 4, 3...",[Bacteria;Firmicutes;Bacilli;Bacillales;Staphy...
152,1601,"[1929, 3030, 1795, 894, 1167, 1926, 3042, 1930...","[166, 129, 97, 94, 73, 51, 32, 32, 25, 22, 16,...",[Bacteria;Firmicutes;Bacilli;Lactobacillales;S...